body {
  font-family: Helvetica, Arial, sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.checkboxes label {
  float: left;
  display: inline-block;
  width: 20%;
}

.abc {
  color: black;
  stroke: black;
}

.bbc {
  color: darkslateblue;
  stroke: darkslateblue;
}

.cbs {
  color: olive;
  stroke: olive;
}

.cnn {
  color: teal;
  stroke: teal;
}

.fox {
  color: darkolivegreen;
  stroke: darkolivegreen;
}

.nbc {
  color: mediumblue;
  stroke: mediumblue;
}

.npr {
  color: forestgreen;
  stroke: forestgreen;
}

.nyt {
  color: darkred;
  stroke: darkred;
}

.wsj {
  color: indigo;
  stroke: indigo;
}

.usa {
  color: purple;
  stroke: purple;
}

small {
  display: block;
  text-align: right;
}